[2020-09-16 19:40] Stefan1200-de commented on #506
Looked into the code and understand the most parts which results into this behavior.

I don't know if it's useful to change this behavior. Because Vocaluxe use that to decide to jump to the last hovered song in that list after reentering the song list. If I change that to the last previewed song, it could change the expected behavior for some people. Currently I don't know, how big the impact woul

[2020-09-17 11:32] Amandacheergirl commented on #543
I was able to fix the problem!
Thanks

[2020-09-17 11:34] Amandacheergirl commented on #543
config.xml won't keep changes was a separate problem I had which I gave up on.
Sorry for the confusion with the 2 different issues.

[2020-09-17 11:40] Stefan1200-de commented on #543
Which problem do you still have after reinstall?

[2020-09-17 21:41] Amandacheergirl commented on #543
I was never able to modify the config file (wouldn't save changes).

[2020-09-23 15:18] Stefan1200-de commented on #543
What did you exactly and what do you change? What do you expect, what is not working?

[2020-09-23 16:09] lukeIam commented on #523
so here we go:
did some debugging - it seems that we have to rewind the audio file before starting it again for the loop.

I tried to implement such a feature in: https://github.com/lukeIam/Vocaluxe/tree/LoopPlay
(but I only tested with the Gstreamer backend - some more testing is needed)

[2020-09-25 07:16] #506 closed

[2020-10-24 12:20] DatProGuy opened #545 "Game Crashes On Song Selection"
Hi, I'm having some trouble with Vocaluxe.

When I select certain songs (abt 8 have this issue of my 1200, from what I've found so far), the game freezes and then crashes. I noticed however that when I removed the video file from the .txt file the songs in question worked perfectly, I'm not too sure what the go could be here, additionally there is nothing in relation to these songs appearing in th

[2020-10-24 12:33] Stefan1200-de commented on #545
Can you check the latest nightly? Please don't overwrite your current version, just download the nightly and use a different folder for the nightly. Of course, you can use the same song directory.

[2020-10-24 12:37] DatProGuy commented on #545
Yeah no worries mate, will give that a crack, I'm really glad to see that there is still development and effort going into VX!

[2020-10-24 12:49] DatProGuy commented on #545
Just tested it and the tracks that had the issues are working as expected on the Nightly, thanks for the help, I'll have to use Nightly from now on! :) (Plus Nightly looks 100x better anyways!)

[2020-10-24 12:49] #545 closed, assigned to nobody

[2020-11-07 21:07] javimuvi15 opened #546 "Give me a meaningful title"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Vocaluxe version and logfile
Vocaluxe 'Blue Sunrise' 0.4.0 (x64) (0.4.0-575-g57fdf69)

[2020-12-04 13:20] matozelo opened #547 "Czech characters display"
I have problem with displaying czech / polish / slovak symbols in lyrics. Is there way to display these symbols or it is possible to sing only in english? The menu can be turned to czech with characters like "čťžýáíú" but in lyrics and song names not.

[2020-12-04 22:19] Stefan1200-de commented on #547
Try setting #ENCODING:UTF8 in the txt file and convert that txt file to UTF-8 encoding. It should work in this case.

[2020-12-08 09:17] matozelo commented on #547
👍
Thank you. It helped :)

[2020-12-08 09:17] #547 closed, assigned to nobody

[2020-12-22 10:45] masaykh opened #548 "Cyrillic names of files and folder are not read by the program with error"
Hi,

Error opening video file: d:\arc\ULTRASTAR_2018_RU\Zdob si Zdub  Видели ночь\Zdob si Zdub  Видели ночь.mp4
Unhandled error: stream is null   at Vocaluxe.Base.CVideo.Skip(CVideoStream stream, Single start, Single gap)
   at Vocaluxe.Screens.CScreenSing._LoadNextSong()
   at Vocaluxe.Base.CGraphics._FinishScreenFading()
   at Vocaluxe.Base.CGraphics.Draw()
   at Vocaluxe.Lib.Draw.CDrawBase`1.Ma

[2020-12-22 11:08] Stefan1200-de commented on #548
Yes, this can happen, because we use an external library to load video files. It seems that this library is unable to open files with non latin filenames.

@lukeIam I remember, that we already had this issue some months ago. If you have some spare time someday, can you look at it? External C/C++ libraries are not my expertise. ;)

[2020-12-22 12:42] masaykh commented on #548
I confirm, without video works good.

Could this external library be changed \ switched \ upgraded?

[2020-12-22 13:06] Stefan1200-de commented on #548
We already upgraded it earlier this year.

[2020-12-22 13:10] masaykh commented on #548
yup, found it already. so it either problem inside acinerella or in data which is passed to it.

Are you using unicode to pass path\ file names?

[2020-12-23 19:29] nevyen opened #549 "Error starting up vocalux on Win10 x64"
Hey I downloaded the latest stable release for Windows x64.

When I try to start the application the following error could be found in log:

[code]

Any Idea how to solve the problem?

[2020-12-23 20:24] Stefan1200-de commented on #549
I just downloaded the file and was able to start Vodaluxe.exe. Are you sure, that you unpacked the whole ZIP file and no malware scanner was deleting a file?

[2020-12-24 00:06] nevyen commented on #549
Thanks for your very fast feedback.

I got no message from my antivirus software that something would be deleted.

Maybe I am able to test it today on a different pc.

Have a wonderful Christmas ;-)

[2020-12-24 10:03] flokuep commented on #549
Could you check, if Windows is blocking some DLL files? I've encountered some problems with this some years ago, just check the zip file before unzipping and follow this blog post. https://dlaa.me/blog/post/unblock

[2020-12-24 12:58] nevyen commented on #549
Hey in case if Christmas, I haven’t the time to look for this by now.

Thanks for the hint with the dll files.

I will have a look in the next days.

[2020-12-24 13:04] flokuep commented on #549
You're welcome! Have a merry christmas, too.

[2020-12-25 18:14] nevyen commented on #549
So I checked it on an other PC.

There it is running without any problems. So maybe my antivrus is blocking something. I can'T find anything which is blocked. So I have no Idea whats going on.

The x86 Version is working without any problems.

Thanks for your support.

I wish you nice holidays ;-)

[2020-12-25 18:14] #549 closed, assigned to nobody

[2020-12-31 09:01] masaykh commented on #548
@lukeIam  could you please take a look ?

[2021-01-12 05:34] Stefan1200-de commented on #517
I think this only happens, if a song will be restarted with ESC -> F5 key while singing it.

[2021-01-18 22:34] Elektro2000 opened #550 "TicTacToe mode crashs at start"
Hi,

I'm a huge fan of the TicTacToe Mode, unfortunately this mode crashes everytime I start a song.

[code]

I used the latest nightly build (Sep 25 2020).

Regards

[2021-02-05 09:38] MajorXT commented on #533
Hi Stefan,

I hope you read this. First of all, thanks and congrats to this programm you built.
I'm referring here to the problem of high scores not beeing saved. I have the same problem.
There are no high scores saved.

I have no experience in editing text files for this but my biggest problem is that my song base is too big to even think about solving this by editing every text file that is brok

[2021-02-05 09:49] Stefan1200-de commented on #533
Well, I think it is important, that only scores will be saved, if the song was completely sung. But I think it is important to let the singer know, why the scores was not saved. That's why this issue is still open.

In most cases it should be enough to remove the last line or word from the txt file. That is not complicated and can be done within seconds, even if you have no experience in creating

[2021-02-05 11:22] MajorXT commented on #533
Thanks for the quick reply.
I don't see why it's a problem when scores are saved when the song wasn't completed. I mean you only would have less points so no advantage regarding the high score. And it would eliminate the problem of songs that have that text file issue.

As I have >10k songs you can imagine I can't check every song and it is very dissapointing when you sang and realize that there i

[2021-02-05 11:55] daggeg commented on #533
More often than not you have to go through your own creations as well as checking others’ creations. If the scores would be saved all the time, the highscore lists would run the risk of being spammed. Or you would have to edit the sql database everytime to get those entries deleted. Better then to let the highscore lists reflect the competitive aspect of the game. The main reason for any highscore

[2021-02-05 12:05] Stefan1200-de commented on #533
@MajorXT well, I don't want a saved highscore, if I was just checking some seconds of a song or I just did quality tests. If you add a new song, just jump to the end of a song and see, if the last note ends before the mp3 file ends. With the CTRL + Arrow right key you can jump easily to the end of a song (hotkey only exists in the Nightly).

I know this is hard, if you have so much songs. But the

[2021-02-05 12:14] MajorXT commented on #533
Ok I understand. For testing reasons this makes sense. Btw. I really appreciate your help and quick response.

Can you quickly explain what you mean by "check if the last note ends before the mp3 file ends" ?

[2021-04-04 12:13] askusbloodfist opened #551 "Mouse pointer jumping in to the middle of screen over and over when playing nightly."
Ive tried using opengl and direct3d to see if it would stop akting this way.
ITs a new installation running on intel pu and nvidia gpu 2070.

[2021-04-04 13:10] askusbloodfist commented on #551
Seems to be the applikation DS4Windows in combination with yours that does it.

[2021-04-07 14:02] Edi316 opened #552 "Feature request: Render in higher resolutions"
Currently Vocaluxe renders everything in the resolution 1280x720, regardless of the screen resolution. So my feature request is, that Vocaluxe is able to render in higher resolutions (at least in HD - 1920x1080).

I don't how time consuming this task is, but maybe someone, with programming skills, is able to look into that option.

Thank you in advance!

[2021-04-11 10:12] brunzel commented on #552
1280x720 is only the internal positioning resolution, the game renders to the current screen resolution.

[2021-04-11 10:14] brunzel commented on #530
you have to use the x64 version instead of the x86 version

[2021-04-11 10:19] Edi316 commented on #552
From my experience it is always 720p upscaled to the screen resolution. For example: A 1080p video gets downscaled to 720p and then upscaled to the higher screen resolution instead of playing in native 1080p.

[2021-04-11 10:22] daggeg commented on #552
That’s how I have understood it too. Hence the lag when using videos at a reslution of 1080p, which is quite annoying to be frank.

[2021-04-11 12:17] Stefan1200-de commented on #552
Okay, related to the information from brunzel, my text is wrong.

Old post:
Yeah, that is true. Everything is rendered in 720p and up-scaled to the current Windows resolution. This kind of changes are something which I don't want to do, because of my just basic knowledge of the C# programming language. But in general I support this idea.

[2021-04-11 13:33] brunzel commented on #552
No, it is not rendered in 720p. The internal resolution of 1280x720 is just for the positioning grid. It has nothing to do with the actual rendering. The rendering resolution is depending on the actual screen resolution.
@daggeg: The lag of the video decoding is because it is done by software. There is no hardware accel. in the current code for video decoding.

[2021-04-11 14:07] brunzel commented on #552
@Edi316 : you can improve the visual quality. Delete the "CoverDB.sqlite" and change in the "Config.xml" the param for "TextureQuality" to "TR_CONFIG_TEXTURE_HIGHEST" and "CoverSize" to 512. This will increase the texture quality and font quality.

[2021-04-11 21:12] #552 closed, assigned to nobody

[2021-04-13 13:31] daggeg commented on #552
@brunzel, would it be possible to implement a solution for hardware acceleration in order to solve this "problem"? I started replacing all 1080p videos with 720p ditos about a year ago due to the, at times severe, lagging. But I wouldn't mind replacing them again :)

[2021-04-13 13:41] Stefan1200-de commented on #552
@lukeIam I know we updated ffmpeg about a year ago. Is there a possibility to enable hw accl?

[2021-04-13 13:43] Stefan1200-de commented on #551
In my opinion in this case the developer of DS4Windows should fix this "bug".

[2021-04-13 21:14] brunzel commented on #552
i am using hw accel video decoding on another c# based program. but this program is using FFmpeg.AutoGen. the keywords are "av_hwdevice_find_type_by_name", "avcodec_get_hw_config", "av_hwdevice_ctx_create" and "av_hwframe_transfer_data". but the last one is not the fastest one, because the cpu still must convert the frame format and upload it into a gpu texture. this is not optimal. i have found a

[2021-04-18 12:52] lukeIam commented on #552
as @brunzel already mentioned it's not that easy as enabling a flag.
Most of the hwaccl decoders do not return a frame but just a pointer to the surface containing the rendered result (zero copy of the frame - it will not copied into ram/cpu).
I played around with DXVA(2) that should work with all windows systems but was not successful integrating it into the architecture of Vocaluxe.

I also play

[2021-04-30 05:39] daggeg commented on #552
A stupid question perhaps, but I haven’t used any other Ultrastar software for donkey years..., can the other softwares render  videos in e.g. 1080p without lagging? If so, what have they done differently?

[2021-04-30 11:55] lukeIam commented on #552
maybe https://github.com/UltraStar-Deluxe/Play can - I haven't tested it but it uses Unity 2D and if it also uses Unity's video player they get hwacellerated video playback for free.

[2021-05-06 10:24] steump commented on #550
Same problem - does someone have a solution?
I used also the latest nightly build (Sep 25 2020).

@lukeIam @Stefan1200-de you know about it?

[2021-05-06 13:39] steump commented on #518
@marwin89 looks fine - can you please upload the theme again for the 0.4.1 version?

[2021-05-12 12:04] steump opened #553 "Improve gamepad controls"
Hello, first I like to say thank you for the awesome work!

In the nightly-version I cant select the jokers with a controller.
For example in the challange-mode (the Tik-Tac-Toe didnt work anyway)

[2021-05-15 10:21] marwin89 commented on #518
@steump [Download: Theme "Energy" (Nightly Build) / 20 MB](https://www.sendspace.com/file/eepwhf)

[2021-06-15 13:24] GaryCXJk commented on #479
Sorry for being gone for so long, I hit a snag I was only able to fix today (due to having some time).

![afbeelding](https://user-images.githubusercontent.com/646757/122060470-eb169100-cded-11eb-99bc-8e866c8d1451.png)

Right now this is what the song screen looks like. Right now the icon placement is between medley and duet, though of course it can be altered. This is what tripped me up, because

[2021-06-15 15:01] Stefan1200-de commented on #479
@GaryCXJk well, I just implemented a simple fix of reading rap notes as freestyle note, because without that quick fix Vocaluxe was just crashing. And with this quick fix you are now able to open and play this song in general.

It was not my intention to implement this Freestyle thing as the new standard. My quick fix was just better than a crashing Vocaluxe. ;)
If you have a better implementation

[2021-06-15 15:03] Stefan1200-de commented on #479
Here is my simple and quick implementation:
https://github.com/Vocaluxe/Vocaluxe/blob/57fdf691706b0b26c04abed0f7f6fe5b86fddd1c/VocaluxeLib/Songs/CSongLoader.cs#L574-L575

[2021-06-18 08:39] GaryCXJk commented on #479
I've done a tiny bit of research, and apparently, in SingStar, the rap notes use a combination of [speech recognition technology and rhythm detection](https://web.archive.org/web/20070408075151/http://ps2.gamezone.com/news/04_03_07_09_27AM.htm).

I doubt it's worth the time to actually do speech recognition, which leaves us with rhythm detection.

Now there's another option we could explore, and t

[2021-06-19 16:47] daggeg commented on #479
I’ve never played Let’s Sing so I can’t help out with that. But I also think that rhythm detection is the only feasible route to take.

[2021-08-19 23:23] JanK118 commented on #459
Hi there,

we had this issue also quite a few times, you can reproduce it like this:

- Start the challenge mode and select 3 or more players.
- Start the first song (you can immediately exit out)
- When you exit the challenge mode and start a new round of challenge mode with one less player, one of the previous profiles will be missing in the selection. It doesn't return, even when you try to cli

[2021-08-19 23:36] JanK118 commented on #473
I would second this!
At the moment I give new players/profiles always the 'Easy' difficulty and set it to 'Normal' if they are "too good".
Some friends are upset, when they realize that they are on 'Easy', even if they need to be there (points-wise), others are upset when they are on 'Normal' and an 'Easy' opponent beats them...
So it's frustrating for both types of players. (And for me, because I

[2021-09-04 20:47] Stefan1200-de opened #554 "D3DERR_DEVICELOST error if screens power down (energy saving; DPMS power off)"
Vocaluxe, latest nightly version.
Displaying song list, Windows was powering down all screens (DPMS power off). I have multiple screens with different resolutions. So Windows was also moving Vocaluxe to another screen with a different resolution, while I was coming back, moved my mouse and all screens was powered on again.

**Error Message:**
![image](https://user-images.githubusercontent.com/1516

[2021-09-12 23:10] pancho187 commented on #550
No solution, but the same issue (latest nightly build Sep 2020).

[2021-09-23 11:18] #517 closed, assigned to Stefan1200-de

[2021-09-23 12:32] #550 closed, assigned to Stefan1200-de

[2021-09-23 12:34] Stefan1200-de commented on #550
Well, I don't use party modes on my end, but I made sure, that Vocaluxe don't crash on start singing within TicTacToe party mode. But it is more testing needed, if the TicTacToe party mode itself still works as expected. I just quickly compared it with Vocaluxe 0.4.0 and it seems to work like the same.

The new nightly build should be online in around 30 minutes. Please test it with that version.

[2021-09-23 16:32] Stefan1200-de commented on #550
Unfortunately the new nightly build with that bugfix was not created, I check that.

[2021-09-23 17:14] lukeIam commented on #550
Seems that there was a network problem reaching Chocolatey.
Retriggering should normally solve the problem.

Stefan ***@***.***> schrieb am Do., 23. Sept. 2021, 18:33:

[2021-09-23 17:20] Stefan1200-de commented on #550
@lukeIam it seems I don't have the permission on AppVeyor to do so. Currently I check if I can fix another smaller bug and create a new PR, to trigger it. If you have a button in AppVeyor to restart the build process, it would be great. :)

[2021-09-23 17:40] lukeIam commented on #550
I have the permission - but I'm not at home atm.
We should also give you the permission here.
But a new commit should also help at the moment.

Stefan ***@***.***> schrieb am Do., 23. Sept. 2021, 19:20:

[2021-09-23 17:57] Stefan1200-de commented on #550
@lukeIam yeah, new PR with a very small bugfix is online. As soon as someone approved it (I already wrote to daggeg), we should get a new nightly (I hope at least ;)).
I'm now registered on AppVeyor with my GitHub account. If you need some information from my account to add me there, feel free to ask me.

[2021-09-23 19:00] Stefan1200-de commented on #550
New nightly is online since some minutes.

[2021-09-23 20:28] Stefan1200-de commented on #533
On songs with sung lyrics into the last seconds of the song, it can happen, that the MP3 file is shorter, than the txt file & Vocaluxe expects. In this case it is impossible to sing the whole song and you don't get a saved highscore. In this case you have to open the txt file and remove the last word, or if the last word/syllable will be sung very long, you can shorten the beat length of the last

[2021-09-23 22:30] Stefan1200-de commented on #523
@lukeIam I just implemented the changes from your https://github.com/lukeIam/Vocaluxe/commit/6b323b3343cc703758b7d65148bde55c7480dbe9 to my local test version.

With **GstreamerSharp** everything is great, the background music is looping, the normal songs are playing.

With **PortAudio** and **OpenAL** I don't hear any music (not even from the songs), just getting this errors for every mp3 file:

[2021-09-23 22:40] Stefan1200-de commented on #523
@lukeIam if you just read the mails from github, please check out my last post online here, because I did more tests and updated almost the complete post.

[2021-09-23 23:00] Stefan1200-de opened #558 "Vocaluxe crash on OpenAL backend, if not installed"
Vocaluxe crash on start, if OpenAL as sound backend is selected, but OpenAL is not installed:

Maybe implementing a better error message. Maybe catching the **System.TypeInitializationException**?

[2021-09-24 12:27] steump commented on #550
Perfect, now it works - Thanks @Stefan1200-de

[2021-09-26 15:05] Stefan1200-de commented on #553
Just checked that code. The implementation for the Gamepad is quite simple. Currently in **CGamePad.cs** -> **_HandleButtons()** only the following keys are matched with a keyboard key:
**Digital Pad** (DPad) with the **Arrow** keys
**Start** button with the **Space** key
**Back** button with the **Back** key
**A** button with the **Enter** key
**B** button with the **Escape** key
**Trigger Left**

[2021-09-26 15:17] Stefan1200-de commented on #553
Updated my text above, because I found the GamePad keys for the left and right mouse buttons.

[2021-09-26 15:27] Stefan1200-de commented on #551
Did a quick look into this one. In Vocaluxe with a right thumb stick the mouse movement will be simulated. With a real XBox 360 controller this is working great and nothing happens, if you don't touch the right thumb stick. I can only guess that DS4Windows or your PS4 controller is sending any movement of the right thumb stick to Vocaluxe. Because if the right thumb stick is centered, the mouse cu

[2021-09-27 15:42] lukeIam commented on #523
`PortAudio` and `OpenAL` use ffmpeg to decode audio while `GstreamerSharp` uses it's own implementation.

https://github.com/lukeIam/Vocaluxe/blob/6b323b3343cc703758b7d65148bde55c7480dbe9/Vocaluxe/Lib/Sound/Playback/Decoder/CAudioDecoderFFmpeg.cs#L94

-> basically fails as the BitDepth is != 16

But I currently have no idea why we only support 16 bit here...

[2021-09-27 16:42] steump commented on #553
Just tested and yes I can select the Jokers with the right thumb stick an the LB button on my XBOX Wireless Controller (it's a littlebit tricky, but works for now - thanks for the tip). In the Tic-Tac-Toe mode the selection works fine, because there is a dircet way to select, it would be great if the function implementing in the Challange mode too. Also important: The Player selection ist very dif

[2021-10-05 07:50] Stefan1200-de commented on #523
@lukeIam so we merge your fix to get at least GstreamerSharp working again with the looping stuff? Or do you still need more testing.

[2021-10-05 16:45] Stefan1200-de opened #559 "Display song name on sing screen in pause menu"
Just a reminder for me.

[2021-10-07 19:53] liva32 opened #560 "Give me a meaningful title"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Vocaluxe version and logfile
Vocaluxe 'Blue Sunrise' 0.4.0 (x64) (0.4.0-583-ga1f661c)

[2021-10-16 15:11] henningblubb opened #561 "TicTacToe Mode microphone and team menu unclear"
In the tic-tac-toe mode is not clear visible which microphone is used by which team and also the labels are unclear

[2021-10-17 14:23] Stefan1200-de commented on #561
We tested yesterday the TicTacToe mode together, first time for us. The following things was weird for us:
1. Position of the labels for "Team 1" and "Team 2" exactly above the two selected players can be mistaken as team and not player selection.
2. I needed very long to understand, that I can remove a selected player by clicking with the right mouse button on it.
3. It was not fully clear who ha

[2021-10-18 21:40] Stefan1200-de commented on #561
I implemented my ideas in my own branch, check out my screenshots. Any suggestions?

Player selection screen, I added a help line at the bottom and added a text label below the team selector:
![image](https://user-images.githubusercontent.com/15168351/137810260-93ea3946-f94b-4e8e-a29b-2b36bcff6177.png)

Tic Tac Toe main screen, changed the player name area, including a mic equalizer below the play

[2021-10-18 21:45] Stefan1200-de commented on #523
@lukeIam sorry, didn't saw your thumbs up. Do you create a pull request, if we want to merge your changes?

[2021-11-26 15:13] Lindasemrova opened #562 "Give me a meaningful title"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Vocaluxe version and logfile
Vocaluxe 'Blue Sunrise' 0.4.0 (x86) (0.4.0-583-ga1f661c)

[2021-12-01 15:36] daggeg opened #563 "Increased number of players in Challenge Mode and the possiblity to choose singer"
Sometimes you're more than the maximum number of players (12 at present) wanting to play the challenge mode. It would therefore be appreciated if the maximum was increased so that you wouldn't run the risk of having a situation, at a party or whatever, where not everyone wanting to participate can take part (which has happened to us).

It seems like an easy fix though, me myself have of late chang

[2021-12-07 00:36] AlbertoFMia opened #564 "Give me a meaningful title"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Vocaluxe version and logfile
Vocaluxe 'Blue Sunrise' 0.4.0 (x64) (0.4.0-583-ga1f661c)

[2021-12-21 04:55] nechopa opened #565 "Randomized background video?"
Hi, is there a way to have a folder with randomized video that plays in the background as the song plays?
Whenever I went to sing karaoke nearby, there was always randomized k-drama clips in the background that played and we loved how silly it could get. I do love that we can choose our own video, but is there a way to have it randomly cycle through chosen clips as a song plays so I could emulate

[2021-12-25 08:07] Riaan947 opened #566 "Can't play"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Vocaluxe version and logfile
Vocaluxe 'Blue Sunrise' 0.4.0 (x64) (0.4.0-583-ga1f661c)

[2021-12-31 02:30] JanK118 opened #567 "Error while reading "ScreenMain".xml"
I decided to get a dedicated Vocaluxe Machine, so I salvaged some old parts.
Unfortunately, the Nightly Build doesn't start at all. The stable release works as intended.
Since I was using the nighlty build on my laptop since literally forever, I am used to the feel of it and want to use it here too.

Has anybody an idea?

### Vocaluxe version and logfile
Vocaluxe 'Blue Sunrise' 0.4.0 (x64) (0.4.0-

[2021-12-31 07:54] Santitos080 opened #568 "Give me a meaningful title"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Vocaluxe version and logfile
Vocaluxe 'Blue Sunrise' 0.4.0 (x64) (0.4.0-583-ga1f661c)

[2021-12-31 07:54] #568 closed

[2021-12-31 09:46] Stefan1200-de commented on #567
Did you unpacked the whole zip file? It seems, that files from the themes directory is missing or too old.

[2021-12-31 11:44] JanK118 commented on #567
Yes, I did everything twice.
Downloaded twice, unpacked with 7zip twice in different locations, rebooted several times.
Funny enough, I went to my gaming rig, to try it there and it worked as intended.
So it has to be a problem with my machine or it’s specs.
I’ll grab a dedicated graphics card this afternoon, to see if the internal one is maybe  too weak or faulty or something.
My notebook is a wh

[2021-12-31 13:24] Stefan1200-de commented on #567
Maybe issues with a security software? Or do you use the same one on all PCs? Does the ScreenMain.xml file exists in the Themes\Genius\Screens directory, file size 6.501 Bytes?

[2021-12-31 13:30] lukeIam commented on #567
Quick workaround idea: delete theme all videos `C:\Users\Karaoke\Downloads\Vocaluxe_Nightly_Windows_x64\Themes\Genius\*.mp4` and try again

[2021-12-31 13:31] lukeIam commented on #567
other idea: is windows blocking the files?
try:
`Get-ChildItem -Path 'C:\Users\Karaoke\Downloads\Vocaluxe_Nightly_Windows_x64\' -Recurse | Unblock-File`

or use https://github.com/lukeIam/VocaluxeProblemSolver

[2021-12-31 14:08] JanK118 commented on #567
@Stefan1200-de Yes, I checked the file size after reading the other issue related to the screenmain.XML

@lukeIam I tried the problem solver first, it told me I didn’t have a software called gstreamer.
I am pretty sure, that I don’t have this piece of software on the other machines either. Installed it though, but it didn’t work.

After that, I tried deleting all the MP4 files and suddenly it work

[2021-12-31 14:15] JanK118 commented on #567
[code]

[2021-12-31 14:18] JanK118 commented on #567
Well, this is the crash dump I get when I am trying to load a song.
I could hear the sound but had no video preview; when I clicked on “Play” it crashed.

I think it’s pretty obvious, that something is wrong with my internal video card

[2021-12-31 14:24] Stefan1200-de commented on #567
Please open the Config.xml file in your Vocaluxe directory with notepad (recommend Notepad++) and check the value **PlayBackLib** (should be somewhere around line 74), default is GstreamerSharp. Whats set on your end?

[2021-12-31 14:36] JanK118 commented on #567
GstreamerSharp also

[2021-12-31 15:01] Stefan1200-de commented on #567
Strange, GstreamerSharp is working on all my Windows 10 PCs and Notebooks. Which Windows do you use?

[2021-12-31 15:13] JanK118 commented on #567
Windows 10 Pro x64

[2022-01-01 00:45] Waltarb opened #569 "Give me a meaningful title"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Vocaluxe version and logfile
Vocaluxe 'Blue Sunrise' 0.4.0 (x64) (0.4.0-583-ga1f661c)

[2022-01-02 21:35] JanK118 commented on #567
So, today I was able to get the graphics card up and running, but the problem remains the same.

0.4.1 runs wonderful, the nightly build crashes...

It seems, it has something to do with the video playback, is there something system-wise I can do? Maybe some sort of codec is missing?

[2022-01-02 21:47] Stefan1200-de commented on #567
About that part of Vocaluxe I don't have much knowledge. Maybe @lukeIam can help here.

The nightly build use a much newer ffmpeg build to play video files than the old 0.4.X versions. Maybe there are some sort of incompatibilities.

[2022-01-03 09:17] lukeIam commented on #567
hmm...
Look like https://github.com/Vocaluxe/Vocaluxe/blob/develop/Vocaluxe/Lib/Video/CVideoDecoderFFmpeg.cs#L46 fails and returns `null` and in the next step we are getting an exception because we can't set the positions on `null`.
But the reason for this is a bit tricky:
easiest explanation: "C:\Users\Karaoke\Downloads\Vocaluxe_Nightly_Windows_x64\Songs\Glass Animals - Heat Waves\Glass Animals -

[2022-01-03 14:34] JanK118 commented on #567
Well, I thought I did install the right version, your Vocaluxe Problem Checker installed one nontheless. But both fail...
The Video File is there as it is supposed to be.

--

Oh boy, I just did a thing... Now it runs... Sometimes, I feel so stupid, I shouldn't even know how to breathe.
Well, I thought I did install the right version of Visual C++, @lukeIam's  Vocaluxe Problem Solver installed ano

[2022-01-03 16:04] lukeIam commented on #567
no problem and you're welcome (sorry that  you had this problem - still not sure where the requirement comes from...)

[2022-01-15 13:20] Michri opened #571 "Nightly builds"
Hello,
some time ago I was able to download nightly builds, which I was able to extract and start directly (compiled versions). Now I cannot find them any more. Is this feature not available any more? Any other way to get a newer version in place?
BTW: I am not a programmer, so not so familar with develoepr-tools.
Thanks

[2022-01-15 13:28] Stefan1200-de commented on #571
Oh, you are right. ~2 weeks ago I was still able to download the nightly builds.

@lukeIam do you know, why the nightly builds are not available anymore?

[2022-01-15 16:18] Michri opened #572 "Fix mapping of Mic to player"
It will be really helpful, having the possibility of assigning a dedicated microphone to each user, so it will never change - useful especially, if amount of mics = amount of players. Then people do not need to run around and find the correct mic.
This will be really useful - independent to Corona.

[2022-01-15 16:56] daggeg commented on #572
I suppose you for the challenge mode? If so I agree.

[2022-01-16 13:17] lukeIam commented on #571
The upload failed:
https://ci.appveyor.com/project/VocaluxeBuildBot/vocaluxe/branch/develop/job/fybacoo6uf26kk9t#L4911

Seems there was a change in the permissions or the access token expired...

[2022-01-16 13:50] Michri commented on #571
@lukeIam : Something you can/need to fix? Or does each user need to change something to get the downloads available again?
Thanks

[2022-01-16 14:01] lukeIam commented on #571
It's definitely on our side - I did a quick check the token has no expiration date.
Atm I have no idea why the script lost the permission to upload releases.
I just have triggered a rebuild - maybe we are lucky an this was just an temporary problem.

[2022-01-16 14:35] lukeIam commented on #571
hmm - updated the tokens in the appveyor file: #573 (lets see if this helps)
(I thought I already did this when github changed tokens - but I could not find the commit for it...)

[2022-01-16 14:55] Michri commented on #572
It might make sense maybe everywhere. When defining players, mic could be mapped to a player as well.

[2022-01-16 15:07] daggeg commented on #572
I’m not sure what you mean, do you mean everywhere as in all party modes? When you just choose a song to sing this is not a problem, player one uses the mic dedicated for player one and so forth.

[2022-01-16 15:33] Michri commented on #572
For a single song it might be ok, to define it in the sing-process. Then users can decide Flor per see, when assigning the players.
But even here it isn’t necessary, if the Color’s have already assigned before.
so in simple sing-mode you assign the players only.

[2022-01-16 17:19] daggeg commented on #572
I’m not sure I follow, in simple sing-mode you only assign the players once? Unless you are more players than you’ve got microphones.

[2022-01-16 17:57] Stefan1200-de commented on #571
It seems the nightly build are working again. Thanks @lukeIam

[2022-01-16 18:05] lukeIam commented on #571
welcome!

[2022-01-16 18:28] Michri commented on #572
Yes, right, but when being in one of the party modes, mics are changing and you need to hand over the mice potentially in each round.
So if you have same amount of mics and players, you can map mic to player 1:1 and keep this connection for all modes (simple sing mode or party mode). If you have more players than mics, you can still define a constant mapping, but of course some players might need

[2022-01-31 23:12] Luisaf125 opened #574 "Give me a meaningful title"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Vocaluxe version and logfile
Vocaluxe 'Blue Sunrise' 0.4.0 (x64) (0.4.0-588-g4d62eff)

[2022-02-09 20:12] saarsaartom opened #575 "Give me a meaningful title"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Vocaluxe version and logfile
Vocaluxe 'Blue Sunrise' 0.4.0 (x64) (0.4.0-588-g4d62eff)

[2022-03-12 15:31] viktor1234678 opened #577 "Duets don't seem to work"
Duet songs don't seem to work in the latest nightly. It always shows both players both parts. I tried playing around with different microphones but always got the same result. Is it a problem on my part or is there no duet support?

[2022-03-13 10:56] Stefan1200-de commented on #577
Well, I often use duet songs, which works without problems, even with the newest nightly.
Do you select different voices on the player selection screen? Is your song detected as duet song within Vocaluxe?

[2022-03-13 15:54] viktor1234678 commented on #577
I found the problem I think. It doesn't recognize the songs as duets. But how does Vocaluxe recognize a file as a Duet?

[2022-03-13 15:56] Stefan1200-de commented on #577
Make sure, that the P1 and P2 tags are set correctly. If you downloaded the file from USDB, you have to add the P1 and P2 tags on your own, because USDB don't support duet files.

[2022-03-13 16:05] viktor1234678 commented on #577
Thanks For The Help

[2022-03-13 16:05] #577 closed, assigned to nobody

[2022-03-18 01:18] cadri20 opened #579 "Bad debug"
When I started the program the debug said that it's a Security problem. I review the code so i can realize that the problem was I didn't have Visual C++ 2010. You can change the security error for a correct advice

[2022-04-21 08:48] peterdolenc commented on #473
I am also really missing this feature. I set my guests at easy and those that sing well on medium. But then I have to either set myself to hard and loose all rounds or medium, but then I win them all and guests get discouraged.

I think Ultrastar had it so that you'd just set a number in the profile and that would be useful already (i'd just use it on myself). Coming to this number automatically w

[2022-05-01 15:22] jimmyhawkin opened #580 "Video Codec not able to handle 4k videos"
Hi,

I today just got a new computer to be able to handle Vocalux better then my old Nuc i used for it before.
Today i have a Asus PN51, That has a 5500u Cpu that has 8 cores. And a great Gpu.

Ive tried to use videos that are more to the todays standard resulutions. meaning above 1080p .
But when i do that in Vocalux it laggs like crasy. If i exit Vocalux and play same video file with all Video p

[2022-05-01 18:31] Stefan1200-de commented on #580
Vocaluxe don't use hardware acceleration for video files, which other modern media players do. Never tried videos above 1080p in Vocaluxe. I know 1080p videos works quite good, but it is really CPU intensive because of the video software decoding.

Do you have an Intel 5500U oder AMD 5500U CPU? The Intel one has just two cores, the AMD one has 6 cores. No one has 8 cores ;)

But you can try the cu

[2022-05-01 18:33] #571 closed, assigned to nobody

[2022-05-01 23:14] jimmyhawkin commented on #580
Its a Pn51-e1 that comes with 8 cores. Amd Processor.

Yeh i know 1080p works. But in any stores theres almost no 1080p screens for sales and all are 4k. And most videos scorces are moving to 4k. Even mobile phones.

And ffmpeg supports gpu accell so why not use it?

I was just finding is verry strange that it was lagging on 4k for me on the computer at all.
The latest nightly ive found is from Ja

[2022-05-02 09:09] Stefan1200-de commented on #580
Well, related to the information on asus.com it is just a 6 core CPU. But that don't matter, as far as I know the software video decoding is just a single core task. Maybe the mobile CPU is to slow to decode a 4k video file (depends on the used codec). Currently I'm not sure if my desktop CPU would be fast enough, because I only use 1080p video files.

Yeah, ffmpeg allows using GPU accell, but if

[2022-05-02 16:35] jimmyhawkin commented on #580
The instresting part is that intel 12600k with a Nvidia dedicated card can handle it.

But ive allso tried with the amd and a player forced to software encode and it works. *scraching my head*
VLC player being one of them.

But somehow it works with a 12600k with a Nvidia card. :/ But thats my mail workstation and theres no real reason this Amd should not be able to handle it sins i see it works w

[2022-05-03 18:53] jimmyhawkin commented on #580
Update my last post sins it was verry missleading to what i meant.

[2022-06-06 18:56] scorpiohr opened #582 "Give me a meaningful title"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Vocaluxe version and logfile
Vocaluxe 'Blue Sunrise' 0.4.0 (x64) (0.4.0-588-g4d62eff)

[2022-06-06 18:56] #582 closed

[2022-07-28 20:44] flennic opened #584 "Performance optimizations & project walkthrough"
Hey yo peeps,

first of all, thanks for the project, we use it quite extensively in our friends group and we enjoy it quite a lot.

We face mainly two issues:

- We have a rather large library which needs quite some time to load (9000+ songs).
- Sometime in the middle of a session, the program crashes and then we have to reload while everyone is waiting.

Hence I had the idea to try to log the err

[2022-08-24 02:39] EsExpComp opened #585 "Getting this everytime we try to start up"
[00:00:00.0952938] [Information] Starting to log

{ThreadId: 1, AdditionalData: ["{ Version = Vocaluxe 'Blue Sunrise' 0.4.0 (x64) (0.4.0-588-g4d62eff) }", "{ StartDate = 23/08/2022 23:37:57 }", "{ Id = 35e457ff-d464-45b5-8db5-e9b2c986f40b }"], CallingContext: "{ callerMethodeName = Init, callerFilePath = C:\projects\vocaluxe\VocaluxeLib\Log\CLog.cs, callerLineNumer = 128 }"}

[00:00:00.1282032] [I

[2022-08-28 11:54] lukeIam commented on #584
Hi Maximilian,

I don't really see the problem here: "Pitch Tracker" is a unmanaged c++ component which also brings us speed and it build under Linux without problems.
But Vocaluxe for Linux was more a theoretical proof of concept: more info here https://github.com/Vocaluxe/Vocaluxe/issues/161
Regarding the Platform Toolset: you can also use newer toolsets without any problem.
There is even an aut

[2022-08-28 11:59] lukeIam commented on #585
I think this has something to do with WebcamLib.
Can you try to disable yout webcam (if you have one)

[2022-08-28 12:14] lukeIam commented on #580
currently we are not using hwaccel.
I tried to implement hwaccel supported decoding in ffmpeg a few years ago and failed.
Also the way we are currently displaying the video prevents us to use zero-copy anyway (the biggest advantage of GPU decoding).

Also tried libVLC as replacement for ffmpeg: https://github.com/Vocaluxe/Vocaluxe/issues/382
Another opination I tried was to change the format to YU

[2022-08-28 12:29] flennic commented on #584
Hi lukeIam,

Thank you for all of the great information and explanation. I like the concepts which you mentioned about Unity and separating the logic and UI. Nevertheless, I also see the issue with developer capacity, which is usually the most limiting factor. So for now I suppose that the best is to not start something major there.

For my part, I will try to get the project compiled and running

[2022-08-28 14:48] Stefan1200-de commented on #584
Not only the time: I currently don't have the coding skills to change major stuff or play around with Unity & C++ librarys.
Thats why I only do smaller stuff, if I find some time for coding.

[2022-08-28 18:00] jimmyhawkin commented on #580
Sad to hear that. If i had some coding skills i would have made the unity fix direkly.
I love the software and love using it with my family. But its more and more becomming a problem with 4k being mainstream.
Seems to work on the Ultrastar Play projekt as they seem to moved to Unity.

But that Ui laks what you guys have, And they are just using old Ultrastar codes so problems that was on Ultrastar

[2022-09-19 17:13] RumovZ opened #587 "Tutorial link on homepage leads to scam website"
https://www.vocaluxe.org/ links to `ultraguide.net` for a song creation tutorial, but this site now seems to be in the hands of scammers.

[2022-09-19 17:43] Stefan1200-de commented on #587
Thanks @lukeIam

[2022-09-19 17:43] lukeIam commented on #587
@RumovZ thanks for reporting!

I removed the link from the site and cleared the caches of cloudflare -> the change should be live now/soon.

[2022-09-19 17:43] #587 closed, assigned to lukeIam

[2022-09-19 17:45] lukeIam commented on #587
For me it's already live (linking to vocaluxe now - seems to be the default for no url).
@Stefan1200-de we might should find another tutorial sometime in the future.

[2022-09-19 17:47] Stefan1200-de commented on #587
@lukeIam I only know this German "howto": https://www2.informatik.uni-hamburg.de/fachschaft/wiki/index.php/HOWTO:UltraStar_Songs_erstellen

[2022-09-19 17:57] Stefan1200-de commented on #587
And I found some English public YouTube videos from @daggeg: How to create songs for Ultrastar
part 1 the tapping: https://www.youtube.com/watch?v=Khs6YVwKtr0
part 2 the finetuning/fixing the sync: https://www.youtube.com/watch?v=-lVwIn03xME
part 3 setting the pitches/notes: https://www.youtube.com/watch?v=OQZfu6ynQu0

Don't know, if we can use this somehow.

[2022-10-19 23:42] EsExpComp commented on #585
thanks for attenttion,

we ve tried and not workin

same error

[00:00:00.0239980] [Information] Starting to log

{ThreadId: 1, AdditionalData: ["{ Version = Vocaluxe 'Blue Sunrise' 0.4.0 (x64) (0.4.0-591-gf00e1d7) }", "{ StartDate = 19/10/2022 20:41:01 }", "{ Id = 3e2c9ec4-0c21-4e7b-a909-26201331a111 }"], CallingContext: "{ callerMethodeName = Init, callerFilePath = C:\projects\vocaluxe\VocaluxeL

[2022-10-29 15:09] #561 closed, assigned to Stefan1200-de

[2022-10-29 15:53] diegopau opened #589 "Remember selected position for each folder/tab"
Currently, if the option "Tabs" is set to yes, every time you enter into the contents of a tab and then go back to the main list of tabs/folders the position is reset to the very first folder in the list instead of the folder that was last selected. This forces you to always scroll again back to the position you were if you are checking different options from top to down which would be the usual.

[2022-10-29 15:56] diegopau commented on #553
An improvement I would love to see is that right now when you use the gamepad to move through the list of songs or tabs you can't continously move up or down (or left or right) through the list by holding the related gamepad button as it would be expected. For instance, if you are moving down through the list, you are either using the d-pad down button or the RT button (in a Xbox 360 gamepad), and

[2022-10-31 07:58] Stefan1200-de commented on #567
@JanK118 can we close this issue, since you have installed the modern DotNet Framework? Or do you still have this error message related to "ScreenMain.xml"?

@lukeIam since the Visual C++ 2010 runtime is end of life since 2 years, it is good that the Nightly use a more modern version. But of course, the readme should reflect this (which it does now).

[2022-11-07 20:09] Stefan1200-de opened #590 "Web App Crash on first time"
The following crash report will be displayed, if I try to open http://localhost:3000 in my browser the first time (no matter which browser I use).
After the game crash I restart Vocaluxe Nightly again, opening http://localhost:3000 is now working. Unable to reproduce this error after the first crash. Using current Vocaluxe Nightly.

Unhandled error: "Der Objektverweis wurde nicht auf eine Objektin

[2022-11-08 00:45] Cxsmo-ai opened #591 "when i try to use my mic it says at least one player is assigned to two mics"
when i try to use my mic it says at least one player is assigned to two mics
![image](https://user-images.githubusercontent.com/74084396/200446331-7204f8c3-0935-4b79-a478-fecc87a4931a.png)

[2022-11-08 07:08] Stefan1200-de commented on #591
Check out the other devices, maybe player 1 has another device selected too.

[2022-11-08 10:07] Cxsmo-ai opened #592 "how does someone join my server so that they can play with me with their mic"
how does someone join my server so that they can play with me with their mic